.DS_Store
__pycache__

data/csv/
data/csv+json/
**/data/csv/
**/data/img/
**/data/img0/
**/data/img2/
**/data/json/
data/202211_intage/data/
data/202211_intage/img/
data/202211_intage/scripts/old_scripts
